
footer {
  padding: 30px;
}
/*FOOTER*/

.clase-footer .primera-colmuna-footer {
  margin-right: 48px;
  color: white;
  font-family: 'Rowdies', cursive;
  font-size: 26px;
  background-color: #5C6874;
  font-weight: 400;
  padding-left: 10px;
}
.contenedor-footer{
  margin-top: 50px;
}

.clase-footer .primera-colmuna-footer2 {
  margin-right: 75px;
  color: white;
  font-family: 'Rowdies', cursive;
  font-size: 26px;
  background-color: #5C6874;
  font-weight: 400;
  padding-left: 10px;

}

.clase-footer .primera-colmuna {
  color: white;
  font-family: 'Rowdies', cursive;
  font-size: 26px;
  background-color: #5C6874;
  font-weight: 400;
  padding-left: 10px;
  margin-right: 60px;
}

.clase-footer-suscribirse h5 {
  color: white;
  font-family: 'Rowdies', cursive;
  font-size: 34px;
}

.clase-footer-suscribirse p {
  color: white;
  font-size: 18px;
}

.boton-buscar-footer.btn-outline-dark {
  background-color: #f0f0f0;
  color: black;
  text-transform: uppercase;
  border: 2px solid black;
  font-weight: bold;
  /* Cambia el color del texto a negro (opcional) */
}

.clase-footer .hora-atencion {
  font-size: 20px;
}

.clase-footer .texto-lahora {
  font-size: 17px;
  margin-top: -14px;
}

.footer-titulos .titulo-importante:hover {
  text-decoration: underline;
}

.footer-titulos {
  margin-bottom: -5px;
}

.footer-descripcion-empresa .palabra-compania {
  font-size: 19.5px;
  text-align: end;
  margin-right: 150px;
}

/*Logos Empresas*/

.footer-descripcion-empresa .redes-sociales {
  color: white;
  font-family: 'Rowdies', cursive;
  font-size: 29px;
  background-color: #5C6874;
  margin-right: 70px;
  margin-left: 64px;
  padding-left: 9px;
  padding-right: 9px;
}


.footer-descripcion-empresa .logo-facebook {
  font-size: 36px;
}

.footer-descripcion-empresa .logo-youtube {
  font-size: 36px;
}

.footer-descripcion-empresa .logo-instagram {
  font-size: 36px;
}

.footer-descripcion-empresa .logo-twitter {
  font-size: 36px;
}

.footer-descripcion-empresa .logo-tiktok {
  font-size: 36px;
}

/*Pagos*/
.pagos-formas .PAGO {
  color: white;
  font-family: 'Rowdies', cursive;
  font-size: 24px;
  margin-top: 18px;
}

.pagos-lista {
  margin-right: 312px;
  margin-top: 18px;
}

/*---*/
.importante{
  background-color: pink;
}

/*La otra parte*/
.contenedor-busqueda{
  margin-top: 50px;
  margin-bottom: 50px;
}
.pedido{
  font-size: 26px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.boton-buscar{
  font-size: 22px;
    margin-top: 10px;
}